<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cori.sportifyapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumDetallado"
            android:label="@string/title_activity_album_detallado"/>

        <activity
            android:name=".VerFavoritos"
            android:label="@string/title_activity_ver_favoritos"/>

        <provider
            android:authorities="cori.spotifyapi.provider"
            android:name="AlbumProvider"
            android:exported="true"/>
    </application>

</manifest>